﻿@model TestApp.Models.TwitterStatsViewModel
@{
    ViewBag.Title = "Twitter report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Twitter report</h2>
@using (Html.BeginForm("AddTwitterUser", "TwitterReport", FormMethod.Post))
{
    <p>Add twitter username: </p>
    <input class="input-group" name="userName" id="userName"/>
    <p>
        <input type="submit" value="Add"/>
    </p>
}
@foreach (var item in Model.Stats)
{
    <h3>@Html.DisplayFor(modelItem => item.Key)</h3>
    <table class="table">
        <tr>
            <th>
                Time
            </th>
            <th>
                Tweets
            </th>
            <th>
                Likes
            </th>
            <th>
                Likes Median
            </th>
        </tr>
        @foreach (var value in item.Value)
        {
            string timePeriod = string.Format("{0:D2} - {1:D2}", value.Hour, value.Hour + 1);
            string style = "bg-white";
            if (value.HighestMedian)
            {
                style = "bg-green";
            }
            else if (value.LowestMedian)
            {
                style = "bg-red";
            }
            <tr class="@style">
                <td>
                    @Html.DisplayFor(modelItem => timePeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.Tweets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.Likes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.LikesMedian)
                </td>
            </tr>
        }

    </table>
}