﻿body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.bg-white { background-color: white }

.bg-green { background-color: #c1e2b3 }

.bg-red { background-color: #a94442 }

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }